@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    cursor: none;
}

body {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    background: #1a1a1a;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: none;
    overflow-x: hidden;
    min-height: 100vh;
}

nav ul {
    position: absolute;
    top: 0;
    right: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: rgba(255, 255, 255, 0.336);
}

#art-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20vh;
}

h1.glitch {
    font-size: 48px;
    position: relative;
    animation: glitch 1s infinite;
}

h1.glitch::before,
h1.glitch::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

h1.glitch::before {
    left: 2px;
    text-shadow: -2px 0 #00ffea;
    clip: rect(24px, 550px, 90px, 0);
    animation: glitch-anim-2 3s infinite linear alternate-reverse;
}

h1.glitch::after {
    left: -2px;
    text-shadow: -2px 0 #fe3a7f;
    clip: rect(85px, 550px, 140px, 0);
    animation: glitch-anim 2.5s infinite linear alternate-reverse;
}

@keyframes glitch-anim {
    0% {
        clip: rect(129px, 9999px, 28px, 0);
    }
    4.166666666666666% {
        clip: rect(87px, 9999px, 78px, 0);
    }
    8.333333333333332% {
        clip: rect(133px, 9999px, 79px, 0);
    }
    12.5% {
        clip: rect(23px, 9999px, 24px, 0);
    }
    16.666666666666664% {
        clip: rect(80px, 9999px, 63px, 0);
    }
    20.833333333333336% {
        clip: rect(78px, 9999px, 1px, 0);
    }
    25% {
        clip: rect(23px, 9999px, 3px, 0);
    }
    29.166666666666668% {
        clip: rect(44px, 9999px, 58px, 0);
    }
    33.33333333333333% {
        clip: rect(121px, 9999px, 74px, 0);
    }
    37.5% {
        clip: rect(54px, 9999px, 60px, 0);
    }
    41.66666666666667% {
        clip: rect(70px, 9999px, 103px, 0);
    }
    45.83333333333333% {
        clip: rect(44px, 9999px, 56px, 0);
    }
    50% {
        clip: rect(102px, 9999px, 33px, 0);
    }
    54.166666666666664% {
        clip: rect(77px, 9999px, 111px, 0);
    }
    58.333333333333336% {
        clip: rect(85px, 9999px, 57px, 0);
    }
    62.5% {
        clip: rect(89px, 9999px, 28px, 0);
    }
    66.66666666666666% {
        clip: rect(132px, 9999px, 32px, 0);
    }
    70.83333333333334% {
        clip: rect(19px, 9999px, 24px, 0);
    }
    75% {
        clip: rect(4px, 9999px, 19px, 0);
    }
    79.16666666666666% {
        clip: rect(53px, 9999px, 72px, 0);
    }
    83.33333333333334% {
        clip: rect(81px, 9999px, 41px, 0);
    }
    87.5% {
        clip: rect(18px, 9999px, 16px, 0);
    }
    91.66666666666666% {
        clip: rect(128px, 9999px, 103px, 0);
    }
    95.83333333333334% {
        clip: rect(88px, 9999px, 137px, 0);
    }
    100% {
        clip: rect(68px, 9999px, 68px, 0);
    }
}

@keyframes glitch-anim-2 {
    6.666666666666667% {
        clip: rect(125px, 9999px, 137px, 0);
    }
    10% {
        clip: rect(120px, 9999px, 84px, 0);
    }
    13.333333333333334% {
        clip: rect(58px, 9999px, 89px, 0);
    }
    16.666666666666664% {
        clip: rect(113px, 9999px, 55px, 0);
    }
    20% {
        clip: rect(58px, 9999px, 137px, 0);
    }
    23.333333333333332% {
        clip: rect(88px, 9999px, 67px, 0);
    }
    26.666666666666668% {
        clip: rect(56px, 9999px, 72px, 0);
    }
    30% {
        clip: rect(20px, 9999px, 11px, 0);
    }
    33.33333333333333% {
        clip: rect(41px, 9999px, 31px, 0);
    }
    36.666666666666664% {
        clip: rect(19px, 9999px, 36px, 0);
    }
    40% {
        clip: rect(4px, 9999px, 134px, 0);
    }
    43.333333333333336% {
        clip: rect(86px, 9999px, 25px, 0);
    }
    46.666666666666664% {
        clip: rect(109px, 9999px, 137px, 0);
    }
    50% {
        clip: rect(74px, 9999px, 52px, 0);
    }
    53.333333333333336% {
        clip: rect(106px, 9999px, 114px, 0);
    }
    56.666666666666664% {
        clip: rect(67px, 9999px, 126px, 0);
    }
    60% {
        clip: rect(33px, 9999px, 6px, 0);
    }
    63.33333333333333% {
        clip: rect(127px, 9999px, 101px, 0);
    }
    66.66666666666666% {
        clip: rect(114px, 9999px, 125px, 0);
    }
    70% {
        clip: rect(84px, 9999px, 44px, 0);
    }
    73.33333333333333% {
        clip: rect(30px, 9999px, 4px, 0);
    }
    76.66666666666667% {
        clip: rect(91px, 9999px, 114px, 0);
    }
    80% {
        clip: rect(64px, 9999px, 136px, 0);
    }
    83.33333333333334% {
        clip: rect(52px, 9999px, 126px, 0);
    }
    86.66666666666667% {
        clip: rect(69px, 9999px, 54px, 0);
    }
    90% {
        clip: rect(8px, 9999px, 106px, 0);
    }
    93.33333333333333% {
        clip: rect(33px, 9999px, 81px, 0);
    }
    96.66666666666667% {
        clip: rect(56px, 9999px, 133px, 0);
    }
    100% {
        clip: rect(75px, 9999px, 112px, 0);
    }
}

.declarer-container {
    cursor: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.declarer-box {
  margin: 20px;
  padding: 20px;
  border: none;
  background-color: #2f2f2f;
  border-radius: 5px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  transition: transform 0.5s, box-shadow 0.5s;
  opacity: 0;
  transform: translateY(3em);
  animation: fadeInUp 2s cubic-bezier(0.19, 1, 0.22, 1) forwards 1s;
  width: 500px;
  display: flex;
  align-items: flex-start;
}

.declarer-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
}

.declarer-box h3 {
    margin-bottom: 10px;
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.declarer-box select,
.declarer-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    margin-right: 20px;
    margin-top: 15px;
    color: #ffffff;
    transition: background-color 0.3s;
}

.declarer-box select:focus,
.declarer-box input:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.2);
}

.declarer-box select {
  background-color: #1a1a1a;
  color: #ffffff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.neon-button {
  cursor: none;
  width: 100%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  color: white;
  transition: background-color 0.5s;
  margin-right: 40px;
  margin-top: 15px;
  position: relative;
  overflow: hidden;
}

.neon-button:before {
  background: linear-gradient(45deg, #ffffff, #ffffff, #ffffff, #ffffff);
  opacity: 0.5;
}

.neon-button:hover:before {
    opacity: 1;
}

.neon-button:hover {
    background-color: rgba(0, 140, 255, 0.3);
    color: #fff;
}

@keyframes neon-border {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#result {
    margin-top: 20px;
    font-size: 1.5em;
    color: rgba(0, 140, 255, 0.3);
    text-align: center;
    min-height: 30px;
}

.no-data {
    color: rgba(255, 0, 0, 0.5);
}

.emoji {
    font-size: 1.5em;
    margin-right: 10px;
}


:root {
  --mouse-x: 0px;
  --mouse-y: 0px;
}

.custom-cursor {
  position: fixed;
  top: var(--mouse-y);
  left: var(--mouse-x);
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  transition: top 0.1s ease-in-out, left 0.1s ease-in-out;
}

.cursor-point {
  width: 7.5px;
  height: 7.5px;
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cursor-border {
  width: 30px;
  height: 30px;
  background-color: #ffffff44;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.no-data,
.hint {
    opacity: 0;
    animation: fadeInUp 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards 1s;
}

button {
    font-family: poppins;
    font-size: 10px;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(5em);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.made-with-love {
    opacity: 0;
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 18px;
    animation: fadeInUp 2s cubic-bezier(0.19, 1, 0.22, 1) forwards 1s;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 2em;
        font-family: "Poppins", sans-serif;
    }
    .declarer-box {
        width: 90%;
    }
}