@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  cursor: none;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  cursor: none;
  overflow-x: hidden;
  filter: saturate(130%);
  transition: filter 0.3s ease-in-out;
}

ul li {
  list-style-type: none;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  transition: color 0.3s ease-in-out;
}

.main {
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transform: translateY(3em);
  animation: fadeInUp 2s cubic-bezier(0.19, 1, 0.22, 1) forwards 1s;
}

.main img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  object-fit: cover;
  border: 10px solid #ffffff15;
  transition: transform 0.3s ease-in-out;
}

.main img:hover {
  transform: scale(1.15);
}

.main span {
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 20px;
  color: #eeeeee;
  transition: color 0.3s ease-in-out;
}

.main ul {
  display: flex;
  margin-top: 10px;
  transition: color 0.3s ease-in-out;
}

.main li a {
  color: #ffffff;
  font-size: 25px;
  margin: 0 15px;
  transition: color 0.3s ease-in-out;
  cursor: none;
}

.main li a[href*="discord"] i,
.main li a[href*="github"] i,
.main li a[href*="youtube"] i {
  transition: filter 0.5s ease-in-out, color 0.5s ease-in-out;
  filter: grayscale(100%);
}

.main li a[href*="discord"]:hover i {
  filter: grayscale(0%);
  color: #7289da;
}

.main li a[href*="github"]:hover i {
  filter: grayscale(0%);
  color: #696969;
}

.main li a[href*="youtube"]:hover i {
  filter: grayscale(0%);
  color: #ff0000;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(5em);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes blinkTextCursor {

  0%,
  100% {
    border-right-color: rgba(255, 255, 255, 0.75);
  }

  50% {
    border-right-color: transparent;
  }
}

:root {
  --mouse-x: 0px;
  --mouse-y: 0px;
}

.custom-cursor {
  position: fixed;
  top: var(--mouse-y);
  left: var(--mouse-x);
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  transition: top 0.2s ease-out, left 0.2s ease-out, opacity 0.3s ease-out;
  opacity: 0.8;
}

.cursor-point {
  width: 5px;
  height: 5px;
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.cursor-border {
  width: 20px;
  height: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: width 0.3s ease-out, height 0.3s ease-out, border-color 0.3s ease-out;
}

.custom-cursor:hover {
  opacity: 1;
}

.custom-cursor:hover .cursor-border {
  width: 50px;
  height: 50px;
  border-color: rgba(255, 255, 255, 0.6);
}

.made-with-love {
  text-align: center;
  position: fixed;
  bottom: 10px;
  transform: translateX(-50%);
  font-size: 18px;
  color: #fff;
  opacity: 0;
  animation: fadeInUp 1s ease forwards 1.5s;
}

.made-with-love i {
  color: #ff4949;
  animation: heartBeat 1s ease infinite;
}

@keyframes heartBeat {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.fact {
  margin-top: 20px;
  text-align: center;
  transition: color 0.3s ease-in-out;
}

@keyframes typewriter {

  0%,
  80% {
    width: 0;
  }

  40% {
    width: calc(100%);
  }

  100% {
    width: 0;
  }
}

.container {
  opacity: 0;
  display: flex;
  align-items: center;
  text-align: center;
  transform: translateY(3em);
  animation: fadeInUp 2s cubic-bezier(0.19, 1, 0.22, 1) forwards 1s;
}

:root {
  --primary-color: White;
  --secondary-color: #ffffff15;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: rgba(230, 238, 249, 0.5);
}

.container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: none;
}

.tabs {
  display: flex;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.tabs * {
  z-index: 2;
}

input[type="radio"] {
  display: none;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 34px;
  width: 100px;
  font-size: 1.1rem;
  font-weight: 500;
  transition: color 0.15s ease-in;
}

.notification {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  margin-left: 0.75rem;
  border-radius: 50%;
  background-color: var(--secondary-color);
  transition: 0.15s ease-in;
}

input[type="radio"]:checked+label {
  color: var(--primary-color);
}

input[type="radio"]:checked+label>.notification {
  background-color: var(--primary-color);
  color: #fff;
}

input[id="radio-1"]:checked~.glider {
  transform: translateX(0);
}

input[id="radio-2"]:checked~.glider {
  transform: translateX(100%);
}

input[id="radio-3"]:checked~.glider {
  transform: translateX(200%);
}

input[id="radio-4"]:checked~.glider {
  transform: translateX(300%);
}

.glider {
  position: absolute;
  display: flex;
  height: 34px;
  width: 100px;
  background-color: #29354434;
  z-index: 1;
  border-radius: 10px;
  transition: 0.25s ease-out;
}

@media (max-width: 700px) {
  .tabs {
    transform: scale(0.6);
  }
}

.tab a {
  color: inherit;
  text-decoration: none;
}